.DS_Store
.git/*
.idea/*
*.swap
work/notebooks/.ipynb_checkpoints/*
work/notebooks/images
work/data/*
work/files/*
work/log/*
!work/data/.gitkeep
!work/data/interim/.gitkeep
!work/data/interim/tableau_pipeline/.gitkeep
!work/data/original/.gitkeep
!work/data/original_pkl/.gitkeep
work/docs/*
work/tmp/*
!work/.gitkeep
**/__pycache__/*
**/.ipynb_checkpoints/*